<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Wall of Text - About</title>
    </head>
    <body>
      {% extends "template.html" %}
      {% block content %}
      <h1>Placeholder for About page</h1>
      <p>Some info about the project</p>
      <p>Be sure to add, "We don't store any of your data, everything you puyt in the
         boxes are processed on you local machine" Check how the nlp plugin uses data. </p>
      <p>Link to How to Use in Documentation</p> 
      <p>Link to Developer Documentation, contributing etc.</p> 
      {% endblock %}
    </body>
</html>
