<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Wall of Text - Home</title>
  </head>

  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1>Taking input from web</h1>
    <a href=example >
      <button>See example output</button>
    </a>
    <hr />

    <div id="text-editor">
      <div type="text" id="heading" name="heading" contenteditable="true"></div>
      <hr />
      <div type="text" id="content" name="content" contenteditable="true"></div>
    </div>
    <!-- TODO: Add the new function to this button -->
    <button id="clicked" onclick="#()">Submit</button>

    <div id="tmp">
      <br />
      <br />
      Text_Value1<input type="text" id="text1" name="text1" /><br /><br />
      Text_Value2<input type="text" id="text2" name="text2" /><br /><br />
      <button id="clicked" onclick="textJoin()">Submit</button>
      <br />
      <br />
    </div>
    <div class="show-data"></div>

    <script src="/static/js/main.js"></script>
    {% endblock %}
  </body>
</html>
