<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static',
                          filename='css/main.css') }}" />
  </head>

  <body>
    <header>
      <div class="container">
        <h1 class="logo">Wall of Text</h1>
        <strong>
          <nav>
            <ul class="menu">
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
              <li><a href="{{ url_for('contact') }}">Feedback</a></li>
              <li><a href="http://localhost:1313/" target="_blank">
                      <!--TODO:update url once hosted-->Documentation
              </a></li>
              <li><a href="{{ url_for('example') }}">Example Output</a></li>
            </ul>
          </nav>
        </strong>
      </div>
    </header>
    <div class="content">
      {% block content %} 
      {% endblock %}
    </div>
    <footer>
        <p>Version: 0.0.2, 07/03/2020</p>
    </footer>
 </body>
</html>
